body {
  background: linear-gradient(
    109.6deg,
    rgb(218, 185, 252) 11.2%,
    rgb(125, 89, 252) 91.1%
  );
  font-family: "Roboto", sans-serif;
  background-size: auto;
}
.weather-app {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(186, 190, 245) 0%,
    rgb(192, 192, 245) 33.1%,
    rgb(218, 203, 246) 90%
  );
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  border-radius: 16px;
}
